@tailwind base;
@tailwind components;
@tailwind utilities;
.task{
    margin:auto;
    margin-top: 10px;
    margin-bottom:1.5vh;
    background-color:rgb(18, 205, 143);
    width:400px;
    height:7vh;
    border-radius:10px;
    padding-left:0.3%;  
    font-weight:bold;
}   
.toolbar{
    border:none;
    border-radius:6px;
    height:80%;
    width:9%;
    margin-top:1%;
    margin-right: 10px;
    margin-left: 10px;
    /* margin: auto; */
    font-weight:bold;
}
#remove{
    background-color:rgb(225, 17, 80);
}
#up{
    background-color:rgb(12, 142, 236);
}
#down{
    background-color:rgb(244, 162, 11);
}